.article-detail {
  padding-bottom: 90px;
}

.preview-box {
  width: 80%;
  margin-top: 70px;
}

.article-detail__h3 {
  margin-top: 60px;
}

.article-detail__body-article {
  width: 60%;
}

.preview {
  font-size: 22px;
}