$color--primary-red-v2: #DD4345;                         //основные цвета
$color--primary-blue-v2: #5385ED;
$color--primary-black-v2: #222529;
$color--primary-white-v2: #FFFFFF;
$color--primary-green-v2: #4EA26B;