<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Битрикс на максималках</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="wrap">
      <%= require('html-loader!./includes/left-column.html').default %>
      <div class="container">
        <%= require('html-loader!./includes/header.html').default %>
        <section class="article-list container__section">
          <%= require('html-loader!./includes/article.html').default %>
          <%= require('html-loader!./includes/article.html').default %>
          <%= require('html-loader!./includes/article.html').default %>
          <%= require('html-loader!./includes/article.html').default %>
          <%= require('html-loader!./includes/article.html').default %>
          <%= require('html-loader!./includes/article.html').default %>
        </section>
        <%= require('html-loader!./includes/footer.html').default %>
      </div>
    </div>
  </body>
</html>
