<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Битрикс на максималках</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="wrap">
      <%= require('html-loader!./includes/left-column.html').default %>
      <div class="container">
        <%= require('html-loader!./includes/header.html').default %>
        <section class="contacts container__section">
          <div class="contacts__paragraph">
            <h3 class="h3 article-detail__h3">Личная информация:</h3>
            <ul class="contacts__list">
              <li>Образование: высшее техническое</li>
              <li>Возраст: 35 лет (родился 24 мая 1985)</li>
              <li>Место проживания: Саратов</li>
              <li>Гражданство: Россия</li>
              <li>Семейное положение: женат</li>
            </ul>
          </div>
            <div class="contacts__paragraph">
                <h3 class="h3 article-detail__h3">Опыт работы 15 лет:</h3>
                <ul class="contacts__list">
                    <li>2005 — 2009гг — ООО “Инфо-эксперт” Саратов, программист 1С–Битрикс</li>
                    <li>2009гг — по наст. время — фриланс, аутсорс</li>
                </ul>
            </div>
            <div class="contacts__paragraph">
                <h3 class="h3 article-detail__h3">Знания и навыки:</h3>
                <ul class="contacts__list">
                    <li>Опыт работы Senior Developer</li>
                    <li>Уверенное знание Bitrix API (D7, ORM), понимание архитектуры фреймворка</li>
                    <li>PHP 7 / MySQL</li>
                    <li>Знание ООП, методов оптимизации кода</li>
                    <li>Опыт работы с API различных систем, в том числе с REST API и опыт работы с XML, JSON</li>
                    <li>Опыт настройки интеграции ERP 1С и 1C-Битрикс</li>
                    <li>Опыт написания Unit-тестов</li>
                    <li>Опыт работы с ElasticSearch</li>
                    <li>JS / JQuery / HTML5 / CSS3</li>
                    <li>Опыт адаптивной верстки на Bootstrap 3, 4</li>
                    <li>Опыт работы с legacy кодом</li>
                    <li>Умение работать с Web серверами Apache, nginx</li>
                    <li>Базовые знания по администрированию Linux серверов</li>
                    <li>Работа с проектами по Gitflow</li>
                    <li>Знание таск-трекеров: Битрикс24, Jira</li>
                    <li>Работаю в PHPStorm</li>
                </ul>
            </div>
            <div class="contacts__paragraph">
                <h3 class="h3 article-detail__h3">Иностранные языки:</h3>
                <ul class="contacts__list">
                    <li>Английский язык (Intermediate)</li>
                </ul>
            </div>
        </section>
        <%= require('html-loader!./includes/footer.html').default %>
      </div>
    </div>
  </body>
</html>
