<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Битрикс на максималках</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
  <div class="wrap">
  <%= require('html-loader!./includes/left-column.html').default %>
    <div class="container">
      <%= require('html-loader!./includes/header.html').default %>
      <section class="article-main container__section">
        <div class="article-main__image"><img src="images/ill1.svg" class="image-article" /></div>
        <div class="article-main__description">
          <p class="data">Сегодня</p>
          <h2 class="h2">
            <a class="article-main__title" href="#"
              >Особенности округления цен при применении скидки в 1С-Битрикс</a
            >
          </h2>
          <p class="article-main__preview">
            Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem
            Ipsum является стандартной "рыбой" для текстов на латинице с начала
            XVI века. В то время некий безымянный печатник создал большую
            коллекцию размеров и форм шрифтов.
          </p>
          <a href="#" class="more margin--bottom-20">Подробнее</a>
          <div class="tags">
            <a href="#">#скидки</a>
            <a href="#">#1С-Битрикс</a>
          </div>
        </div>
      </section>
      <section class="last-article container__section">
        <article class="article-secondary">
          <img src="images/il3.svg" class="margin--bottom-16 image-article" />
          <p class="data">2 дня назад</p>
          <h3>
            <a href="#" class="h3 margin--bottom-20 title-article">
              Интересный метод прямой замены в MySQL
            </a>
          </h3>

          <p class="article-secondary__preview">
            Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem
            Ipsum является стандартной "рыбой" для текстов на латинице с начала
            XVI века. В то время некий безымянный печатник создал большую
            коллекцию размеров и форм шрифтов.
          </p>
          <div class="tags">
            <a href="#">#скидки</a>
            <a href="#">#1С-Битрикс</a>
          </div>
        </article>
        <article class="article-secondary">
          <img src="images/il4.svg" class="margin--bottom-16 image-article" />
          <p class="data">2 дня назад</p>
          <h3>
            <a href="#" class="h3 margin--bottom-20 title-article">
              Решение проблемы с пустым значением GeoIP в Битриксе
            </a>
          </h3>

          <p class="article-secondary__preview">
            Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem
            Ipsum является стандартной "рыбой" для текстов на латинице с начала
            XVI века. В то время некий безымянный печатник создал большую
            коллекцию размеров и форм шрифтов.
          </p>
          <div class="tags">
            <a href="#">#скидки</a>
            <a href="#">#1С-Битрикс</a>
          </div>
        </article>
        <article class="article-secondary">
          <img src="images/il2.svg" class="margin--bottom-16 image-article" />
          <p class="data">2 дня назад</p>
          <h3>
            <a href="#" class="h3 margin--bottom-20 title-article">
              Проблема 100% забитого процессора в CentOs7
            </a>
          </h3>
          <p class="article-secondary__preview">
            Это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem
            Ipsum является стандартной "рыбой" для текстов на латинице с начала
            XVI века. В то время некий безымянный печатник создал большую
            коллекцию размеров и форм шрифтов.
          </p>
          <div class="tags">
            <a href="#">#скидки</a>
            <a href="#">#1С-Битрикс</a>
          </div>
        </article>
      </section>
      <section class="promo-block container__section">
        <div class="promo-block__description">
          <h1 class="h1">Битрикс на максималках</h1>
          <p>
            Давно выяснено, что при оценке дизайна и композиции читаемый текст
            мешает сосредоточиться. Lorem Ipsum используют потому, что тот
            обеспечивает более или менее стандартное заполнение шаблона, а также
            реальное распределение букв и пробелов в абзацах, которое не
            получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст..
            Здесь ваш текст.." Многие программы электронной вёрстки и редакторы
            HTML используют Lorem Ipsum в качестве текста по умолчанию, так что
            поиск по ключевым словам "lorem ipsum" сразу показывает, как много
            веб-страниц всё ещё дожидаются своего настоящего рождения. За
            прошедшие годы текст Lorem Ipsum получил много версий. Некоторые
            версии появились по ошибке, некоторые - намеренно (например,
            юмористические варианты).
          </p>
        </div>
      </section>
      <section class="video container__section">
        <div class="new-video">
          <div class="new-video__title">
            <img src="images/il6.svg" class="margin--bottom-16 image-article" />
            <div class="play"></div>
          </div>
          <div class="new-video__description">
            <div>
            <p class="data">Новое видео на канале</p>
            <h3>
              <a href="#" class="h3 video-title">
                Создание резервной копии (бэкапа) сайта на 1С-Битрикс: варианты, подводные камни, лайфхаки.
              </a>
            </h3>
            <p>Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться.</p>
            </div>
            <div class="info">
              <a href="#" class="views">26 просмотров</a>
              <a href="#" class="comments">4 комментария</a>
            </div>
          </div>
        </div>
      </section>
      <%= require('html-loader!./includes/footer.html').default %>
    </div>
  </div>
  </body>
</html>
